.app-box {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
}

.logo {
  width: 130px;
  height: auto;
}

.app-header {
  position: fixed;
  background-color: rgba(95, 145, 252, 1);
  height: 60px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
  padding-left: 100px;
}

.game-parent {
  flex-grow: 13;
  display: flex;
  justify-content: center;
}

.game-box {
  width: 85%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.game-header {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.room-number-label {
  color: #132f61;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 2em;
  text-align: center;
  margin: 0 2em 0 0;
}

.question-parent {
  flex-grow: 3;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.question-label {
  color: #ffffff;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 1.3em;
  text-align: center;
}

.user-list-parent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.avatar-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.avatar-label {
  color: black;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 1.2em;
}
